$primary-color: #0f172a;
$primary-color-transparent: #111827f5;
$primary-color-dark: #090e19;
$primary-color-light: #272e3f;
$primary-color-light-accent: #323849;
$secondary-color: #ffffff;
$highlight-color: #38bdf8;
$highlight-color-transparent: #38bff81a;
$dark-overlay-color: #0d2631f6;
$gray-color: #f7f7f8;
$gray-accent-color: #e2e8f0;
$light-gray-color: #94a3b8;
$dark-gray-color: #dedee4;
$shadow-color: rgba(2, 12, 27, 0.7);
