@use "../../abstracts" as *;

.badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  background-color: $highlight-color;
  color: $primary-color;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
