@use "../../abstracts" as *;

.title-element {
    @include flex-column;
    line-height: 1.5rem;

    h2 {
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    h3 {
        margin-bottom: 4rem;
    }
}
