@use "../../abstracts" as *;

.experience {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-block: 5rem 3rem;
    @include linear-gradient-bg($primary-color, $primary-color-light);

    &__container {
        padding: 1rem;

        @include tablet {
            max-width: $screen-tablet-min;
        }

        @include desktop {
            max-width: $screen-desktop-min;
        }
    }
}
