@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #0a192f;
}

.no-scroll {
    overflow: hidden;
}

::selection {
    color: white;
    background: crimson;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #474747;
}

::-webkit-scrollbar-thumb {
    background: rgb(34, 34, 34);
}

::-webkit-scrollbar-thumb:hover {
    background: crimson;
}
/* End scrollbar */

/* Back to top button */
#back-to-top-btn {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 30px;
    right: 30px;
    font-size: 26px;
    background-color: crimson;
    outline: none;
    border: 3px solid crimson;
    border-radius: 50%;
    transition: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #060e1b;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0,.7);
}

#back-to-top-btn i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#back-to-top-btn a {
    color: white;
}
#back-to-top-btn a:hover {
    transition: 0.2s;
    color: crimson;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
/* End back to top button */

/* Nav section */
nav {
    display: flex;
    padding: 20px 50px 0 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav a {
    color: rgb(211, 211, 211);
}

nav a:hover {
    color: white;
}

.nav-links {
    margin-left: auto;
    display: flex;
}

.nav-links a {
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.nav-links a:hover {
    border-bottom: 3px solid crimson;
    transition: 0.5s;
}

.nav-links a.active {
    color: white;
    border-bottom: 3px solid crimson;
}

.nav-social {
    padding-left: 30px;
    display: flex;
    font-size: 15px;
}

.nav-social li {
    padding: 15px;
}

.nav-social a {
    transition: 0.5s ease;
}

.nav-social a:hover {
    position: relative;
    top: -2px;
    transition: 0.5s;
}

.nav-responsive {
    border-radius: 2px;
    position: relative;
}
  
.nav-btn {
    padding: 15px 0 15px 0;
    width: 45px;
    cursor: pointer;
}
  
.nav-btn span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 3px;
    background: #ffff;
    transition: all .3s;
    position: relative;
}
  
.nav-btn span + span {
    margin-top: 8px;
}
  
.active span:nth-child(1) {
    animation: ease .7s top forwards;
}
  
.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}
  
.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}
  
.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}
  
.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}
  
.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

.logo {
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: cover;
    min-width: 55px;
    height: 55px;
    transition: 0.5s;
}

.logo:hover {
    background-image: url(../images/logo_hover.png);
    transition: 0.5s;
}

.responsive-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.966);
    transition: all .5s;
}

.sticky {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px 50px;
}

.navEntrance {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: navEntrance;
}

.navExit {
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-name: navExit;
}
/* End nav section */

/* Hero section */
.hero {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/hero_background_image.jpg);
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: .55;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    transform: translateY(-50%);
}

.hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: hero_text_reveal .5s ease forwards;
}

.hero h1:nth-child(1) {
    animation-delay: 1s;
}

.hero h1:nth-child(2) {
    animation-delay: 2s;
}

.hero h1:nth-child(3) {
    animation: hero_text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

.hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: hero_text_reveal_box 1s ease;
}

.hero h1:nth-child(1) span {
    animation-delay: .5s;
}

.hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

.hero h2 {
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    padding-top: 10px;
    animation: hero_text_reveal .5s ease forwards;
    animation-delay: 4s;
}

.hero h2 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: hero_text_reveal_box 1s ease;
    animation-delay: 3.5s;
}

.hero .cta {
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border: 5px solid crimson;
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: 0.5s;
}

.hero .cta:hover {
    background-color: crimson;
    transition: 0.5s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.hero-bottom {
    position: absolute;
    padding-top: 70px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-bottom a {
    color: white;
}

.hero-bottom a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: hero_scroll_icon 1.5s infinite;
    animation: hero_scroll_icon 1.5s infinite;
    box-sizing: border-box;
  }

.hero::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.55) 85%,rgba(0,0,0,.75) 100%);
    z-index: -1;
}
/* End hero section */

/* About section */
#about {
    width: 100%;
}

#about a {
    color: rgb(218, 65, 96);
    transition: 0.5s;
}

#about a:hover {
    color: crimson;
    transition: 0.5s;
}

#about p {
    margin: 0 0 15px;
    color: rgb(202, 202, 202);
    font-size: 1.15rem;
    line-height: 1.75rem;
}

.about-intro {
    background: #060e1b;
    text-align: center;
    padding: 200px 25% 350px 25%;
}

.about-intro h2{
    padding-bottom: 50px;
    font-size: 2rem;
    color: white;
}

.about-technologies {
    margin: 0 20%;
    position: relative;
    top: -200px;
    border: 1px solid #060e1b;
    border-radius: 15px;
    background: rgb(223, 223, 223);
    color: #060e1b;
    text-align: center;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.about-technologies .row {
    padding: 0 40px 35px 40px;
    border-bottom: 1px solid #060e1b;
}

.about-technologies i {
    font-size: 2.5rem;
    padding: 50px 50px 25px 50px;
    color: crimson;
}

.about-technologies h3 {
    padding: 0 50px 25px 50px;
    font-size: 1.50rem;
    color: crimson;
}

.about-technologies h4 {
    padding: 0 50px 35px 50px;
    font-size: 1rem;
    color: #060e1b;
}

.about-technologies ul {
    justify-content: center;
    display: inline-block;
}

.about-technologies li {
    padding: 15px;
    display: inline-block;
}

.tec-icon {
    height: 75px;
}
/* End about section */

/* Footer section */
footer {
    color: rgb(187, 187, 187);
    background: #060e1b;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer .logo {
    margin: 25px 50px;
    width: 85px;
    min-height: 85px;
}

footer a {
    color: rgb(187, 187, 187);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer .portfolio-link {
    padding: 25px 50px 25px 50px;
    display: flex;
    color: rgb(187, 187, 187);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer .portfolio-link:hover {
    color: white;
}

footer .portfolio-link h2 {
    font-size: 1rem;
    font-weight: 200px;
    padding-bottom: 15px;
}

footer .madewith {
    display: flex;
    align-items: center;
}

footer .madewith h3 {
    font-size: 0.75rem;
    font-weight: 200px;
}

footer .madewith span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

footer .madewith .html {
    background-image: url(../images/html5-original.svg);
}

footer .madewith .css {
    background-image: url(../images/css3-original.svg);
}

footer .madewith .js {
    background-image: url(../images/javascript-original.svg);
}

footer .social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 50px;
    transition: all .5s ease;
}

footer .social-button {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2.5px solid rgb(187, 187, 187);
    margin: 0 15px 0 15px;
    transition: all .5s ease;
}

footer .social-button i {
    color: rgb(187, 187, 187);
    font-size: 1.2rem;
    transition: all .5s ease;
}

footer .social-button:hover {
    background: white;
    border-color: white;
    transition: all .5s ease;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

footer .social-button:hover i {
    color: #060e1b;
    transition: all .5s ease;
}

footer .copyright {
    padding: 25px 50px;
}

footer .copyright h3 {
    color: rgb(126, 126, 126);
    font-size: 0.85rem;
}
/* End footer section */

/* Media responsive */
@media screen and (max-width: 600px) {
    /* xsmall */
    #back-to-top-btn {
        font-size: 18px;
        width: 32px;
        height: 32px;
    }

    .hero {
        background-position: center left;
    }
    
    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content h2 {
        font-size: 20px;
    }
    
    .hero .cta {  
        font-size: 1rem;
    }
}

@media screen and (max-width: 960px) {
    /* small */
    #back-to-top-btn {
        font-size: 22px;
        width: 40px;
        height: 40px;
    }

    .hero {
        background-position: center left;
    }

    .hero .cta {  
        font-size: 1.5rem;
    }

    .hero-content h1 {
        font-size: 30px;
    }

    .hero-content h2 {
        font-size: 20px;
    }
    
    .hero .cta {  
        font-size: 1rem;
    }
}

@media screen and (max-width: 1280px) {
    /* medium */
    nav {
        position: fixed;
        width: 100%;
        max-height: 10vh;
        z-index: 2;
        align-items: flex-start;
    }

    .responsive-menu.show {
        top: 0;
        z-index: 1;
    }

    .nav-links {
        transform: translateY(-100%);
        width: 100%;
        text-align: center;
        flex-direction: column;
        transition: all .5s;
    }

    .nav-links.show {
        transform: translateY(0);
        transition: all .5s;
        top: 0;
    }

    .nav-links li {
        margin: 50px 0;
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .nav-social {
        display: none;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
    /* large */
    .nav-responsive {
        display: none;
    }
}
/* End media responsive */

/* Keyframes */
@-webkit-keyframes hero_scroll_icon {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes hero_scroll_icon {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes hero_text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes hero_text_reveal {
    0% {
        color: white;
    }
    100% {
        color: white;
    }
}

@keyframes hero_text_reveal_name {
    100% {
        color: crimson;
    }
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 10px;
        transform: rotate(0);
    }
    100% {
        top: 10px;
        transform: rotate(45deg);
    }
}
  
@keyframes top-2 {
    0% {
        top: 10px;
        transform: rotate(45deg);
    }
    50% {
        top: 10px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}
  
@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 10px;
        transform: rotate(0);
    }
    100% {
        bottom: 12px;
        transform: rotate(135deg);
    }
}
  
@keyframes bottom-2 {
        0% {
        bottom: 10px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 10px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}
  
@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}
  
@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes navEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes navExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}
/* End of keyframes */