@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* Header section */
.header {
    overflow: hidden;
    padding: 20px 100px;
}
  
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    border-bottom: 3px solid transparent;
}
  
.header a.logo {
    font-size: 35px;
    font-weight: bold;
}
  
.header-right a:hover {
    border-bottom: 3px solid crimson;
}
  
.header-right a.active {
    border-bottom: 3px solid crimson;
    font-weight: 100000;
}
  
.header-right {
    float: right;
}

.header-right img {
    padding-left: 20px;
    height: 52px;
}
/* End header section */

/* Hero section */
.hero {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/hero_background_image.jpg);
    background-attachment: fixed;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: .45;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    transform: translateY(-50%);
}

.hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: hero_text_reveal .5s ease forwards;
}

.hero h1:nth-child(1) {
    animation-delay: 1s;
}

.hero h1:nth-child(2) {
    animation-delay: 2s;
}

.hero h1:nth-child(3) {
    animation: hero_text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

.hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: hero_text_reveal_box 1s ease;
}

.hero h1:nth-child(1) span {
    animation-delay: .5s;
}

.hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

.hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

.hero h2 {
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    padding-top: 10px;
    animation: hero_text_reveal .5s ease forwards;
    animation-delay: 4s;
}

.hero h2 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: hero_text_reveal_box 1s ease;
    animation-delay: 3.5s;
}

.hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 3px solid crimson;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}

.hero .cta:hover {
    color: white;
    background-color: crimson;
}

.hero-bottom {
    position: absolute;
    padding-top: 70px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-bottom a {
    color: white;
}

.hero-bottom a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: hero_scroll_icon 1.5s infinite;
    animation: hero_scroll_icon 1.5s infinite;
    box-sizing: border-box;
  }

.hero::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 90%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 90%,rgba(0,0,0,.8) 100%);
    z-index: -1;
}
/* End hero section */

/* Keyframes */
@-webkit-keyframes hero_scroll_icon {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes hero_scroll_icon {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes hero_text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes hero_text_reveal {
    100% {
        color: white;
    }
}

@keyframes hero_text_reveal_name {
    100% {
        color: crimson;
    }
}
/* End of keyframes */