@use "../../abstracts" as *;

.nav-container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 3;
	transition: all 0.25s ease-in-out;

	&--visible {
		background-color: #06091880;
		backdrop-filter: blur(12px);
		border-bottom: 0.5px solid rgb(46 54 79/1);
	}
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	color: $secondary-color;
	line-height: 2.5rem;

	@include tablet {
		max-width: $screen-tablet-min;
	}

	@include desktop {
		max-width: $screen-desktop-min;
	}

	&__menu {
		display: none;
		gap: 2rem;

		a {
			font-size: 0.875rem;
			line-height: 1rem;
			font-weight: 500;
			color: $secondary-color;
			cursor: pointer;
			position: relative;
			@include text-color-transition(0.25s);
			@include link-underline-transition(1px, -2px);
		}

		@include tablet {
			display: flex;
		}
	}

	&__logo {
		text-transform: uppercase;
		z-index: 999;

		strong {
			font-weight: 600;
		}

		@include tablet {
			margin-inline: auto;
		}
	}

	&__contact {
		display: none;
		border: none;
		font-size: 0.875rem;
		padding-inline: 0.875rem;
		margin-left: auto;
		@include primary-button;

		@include tablet {
			display: block;
		}
	}

	&__burger {
		display: flex;
		z-index: 4;

		@include tablet {
			display: none;
		}
	}
}
