@use "../../abstracts" as *;

.nav {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
    transition: all 0.25s ease-in-out;
    z-index: 3;

    &__container {
        @include flex-center;
        width: 100%;
        color: $secondary-color;
        justify-content: space-between;
        line-height: 2.5rem;
        padding: 0.5rem 1rem;
        overflow: hidden;
        user-select: none;

        &--menu {
            display: none;
            flex: 1;
            align-items: center;
            gap: 2rem;

            a {
                font-size: 0.875rem;
                line-height: 1rem;
                font-weight: 500;
                color: $secondary-color;
                cursor: pointer;
                position: relative;
                @include text-color-transition(0.25s);
                @include link-underline-transition(1px, -2px);
            }

            @include tablet {
                display: flex;
            }
        }

        &--logo {
            display: flex;
            flex: 1;

            &__link {
                display: flex;
                color: $secondary-color;
                font-size: 1.25rem;
                text-transform: uppercase;
                letter-spacing: -1px;
                gap: 0.25rem;
                cursor: pointer;
                z-index: 20;

                span:nth-child(1) {
                    font-weight: 600;
                }

                span:nth-child(2) {
                    font-weight: 300;
                }
            }

            @include tablet {
                justify-content: center;
            }
        }

        &--contact {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            display: none;

            &__link {
                border: none;
                font-size: 0.875rem;
                padding-inline: 0.875rem;
                @include primary-button;
            }

            @include tablet {
                display: flex;
            }
        }

        &--burger {
            display: flex;
            z-index: 4;

            @include tablet {
                display: none;
            }
        }

        @include tablet {
            max-width: $screen-tablet-min;
        }

        @include desktop {
            max-width: $screen-desktop-min;
        }
    }
}
